@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

*{ /* Global styles (all elements) */
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #272424;
    color: whitesmoke
}

h1{ /* type selector | display:block: It takes up the entire available width. It's resizable. */
    display: flex;
    justify-content: center;

    font-size: 50px;
    color: #d79921;
    width: 392px;
    height: 60px;
    margin: 30px 0px 30px 0px;
}

h2{ /* type selector | display:block */
    display: flex;
    justify-content: center;

    font-size: 38px;
    color: #458588;
    width: 383px;
    height: 45px;
    margin: 0px 0px 20px 0px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='radio']{
    display: none;
}

button{ /* inline-block.*/
    font-size: 16px;
    background-color: #ab72ec;
    width: 200px;
    height: 48px;
    border-radius: 10px;
    margin: 11px;
}

#cards-box{
    display: flex;
    flex-direction: row;
}

.mokepon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 24px;
    width: 260px;
    height: 220px;
    padding: 20px;
    box-sizing: border-box;
    margin: 11px;
    border-radius: 10px;
}

.mokepon-card img{
    width: 180px;
}

#acynonyx-card{
    background: #f77462;
    border: 3px solid #ad5343;
}

#piwith-card{
    background: #6aabe0;
    border: 3px solid #4365ad;
}

#berry-card{
    background: #67da67;
    border: 3px solid #56ad3c;
}

/* 
- https://platzi.com/clases/3208-programacion-basica/51976-imagenes-para-los-mokepones/
- https://platzi.com/clases/3208-programacion-basica/51975-estilos-del-boton/
*/